.simbolo{
    font-size: 20px;
    margin-left: 8px; 
    color:#6ca2fb;
}
.btnAgregar{
    color:#4285F4;
}
ion-input {
    margin-left: 15px;
    --color: #6c6c6c; 
  }
ion-card{
  background-color:#f5f5f5;
}
.ionTitulo{
  text-shadow: 0.3px 0.3px #000000;
}
.lblCita{
  margin-bottom: 25px;
  text-shadow: 0.1px 0.1px #000000;
}
.lblAutor{
  text-shadow: 0.1px 0.1px #000000;
}

.input-cita {
  margin-top: -12px; /* Alinea el input con la etiqueta */
  margin-left: 24px;
}
