.btnBasurero{
    font-size: 24px;
    --color:#4285F4;
    margin-left: 30px;
  
}
.autor {
    text-align: right; 
    color:#6c6c6c
  }

.frase{
    color: #000000; 
    font-size: 1em;
    text-shadow: 0.1px 0.1px #000000;
    margin: 0;
    padding: 0;
}