
.btnAgregarCitas{
  --background : #4285F4;
 
  size: 10;
}
.contenedor-pantalla { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  }
.tarjetaCentrada { 
  background-color: #EDEDED; 
  border-radius: 0; 
  box-shadow: none; 
  height: auto; 
  width: 100%; 
  margin: 5px;
   }
.fraseAleatoria{
  color: #3c96ff;
  text-align: left;
  text-shadow: 0.1px 0.1px #3c96ff;
  font-size: 18px;
}
.autor{
  color: #000000;
  text-align: right;
  margin-top: 20px;
}
.custom-icon {
  font-size: 8px; /* Ajusta el tamaño del ícono */
}
.btnEliminarCitas{
  --background : #FF0000;
}
